htm, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #9F9F9F;
}

.btn-floating i {
  font-size: 1.2rem;
  line-height: 30px;
}
.btn-floating {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.inativo {
  opacity: 0.5;
}

.create .progress{
  top: 0;
  height: 10px;
  margin: 0
}

.product-details h4,
.collection-details h4 {
  line-height: 183%;
}
.product-list .card {
  max-width: 250px;
  height: 408px;
  max-height: 408px!important;
  min-height: 408px!important;
}
.product-list .card .card-action {
  padding: 30px 3px;
}
.product-list .card .card-content .switch{
  padding: 30px 0;
}
.product-list .card .card-content p{
  line-height: 20px;
}
.product-list .card .card-content .card-title {
  font-size: 13px;
}
.product-list .card .title-collection {
  float: left;
  font-size: 13px;
  width: 100%;
  padding-left: 23px;
  margin-top: -10px;
}



.product-list .card .card-content{
  position: relative;
  top: -10px;
}

.card .card-author{
  text-align: center;
  font-size: 13px;
}
.card .card-date {
  text-align: center;
  font-size: 11px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}
